<!--form handling-->
<form method="POST" id="add_user">
    <div class="new_user">
        <!--Name-->
        <div class="form-group">
            <label for="name" class="text-dark">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="name">
        </div>
        <!--Email-->
        <div class="form-group">
            <label for="name" class="text-dark">Email</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <!--Gender-->
        <div class="form-group">
            <label for="gender" class="text-dark">Gender</label>
            <br>
            <div class="radio online">
                <input type="radio" id="radio-2" name="gender" value="Male">
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio online">
                <input type="radio" id="radio-3" name="gender" value="Female">
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>
        <!--Status-->
        <div class="form-group">
            <label for="status" class="text-dark">Status</label>
            <br>
            <div class="radio online">
                <input type="radio" id="radio-4" name="status" value="Active">
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio online">
                <input type="radio" id="radio-5" name="status" value="Inactive">
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>
<!--/form handling-->